---
layout:
permalink: /index2.html
title: Home
---
{% include layouts/header.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include layouts/navbar.html %}

  <!-- Intro Header -->
  <header class="intro intro2">
    <h1 id="main-brand">ODDYSEE</h1>
    <div id="main-logo">
      {% include img/oddysee-logo-glow.svg %}
    </div>
  </header>

  <section class="content-small text-center">
    <div class="container">
      <div class="posts col-lg-8 col-lg-offset-2">
        <h1><a href="https://robertsspaceindustries.com/orgs/ODDYSEE">JOIN NOW!</a></h1>
      </div>
    </div>
  </section>

  <section class="invert content-small text-center">
    <div class="container">
      <ul class="posts col-lg-8 col-lg-offset-2">
        <h1>Latest News</h1>
        {% for post in site.posts limit:5 %}
          <li>
            <span>{{ post.date | date_to_string }}</span> &raquo;
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% include layouts/footer.html %}

  <script src="{{ site.baseurl }}/vendor/jquery/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/homepage.js"></script>


  <script src="{{ site.baseurl }}/vendor/jquery-ui/jquery-ui.custom.js"></script>
  <script src="{{ site.baseurl }}/vendor/d3/d3.min.js"></script>

  <script src='{{ site.baseurl }}/tool/js/members.js'></script>
  <script src='{{ site.baseurl }}/tool/js/struc.js'></script>
  <script src='{{ site.baseurl }}/tool/js/org_utils.js'></script>
  <script src='{{ site.baseurl }}/tool/js/widgets.js'></script>
  <script src='{{ site.baseurl }}/tool/js/app.js'></script>
</body>

</html>
